@font-face {
  font-family: commando;
  src: url(./fonts/commando.ttf);
}


body {
    margin: 0;
    height: 100vh;
    background-color: rgb(45, 43, 43);
    color: rgb(214, 205, 205);
    font-family:'Courier New', Courier, monospace;
    position: relative;
}
h1 {
    margin: 0;
}
.background-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: opacity(10%);
    z-index: -1;
}

.game-title {
    font-family: "commando"; 
    text-align: center;
    font-weight: light;
    font-size: 42px;
    margin: 0px;
    padding: 14px;
    background: linear-gradient(180deg, rgba(255,47,47,1) 0%, rgba(255,238,0,1) 100%);
    background-clip: text;
    color: transparent;
    
}

.scoreboard {
    text-align: center;
    color: yellow;
    gap: 24px; 
    display: flex;
    justify-content: center;
}

.scoreboard div {
  display: flex;
}

.score, .time {
  color: white;
}

.stratagem-queue {
    padding: 12px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.stratagem-icon {
    width: 100px;
    border: gray 2px solid;
}

.stratagem-queue *:first-child {
    border: dashed yellow 3px;
}

.current-stratagem {
    display: grid;
    grid: 1fr 1fr / 1fr 3fr;
    gap: 12px;
    padding: 14px;
    background-color: rgba(0, 0, 0, 0.688);
    font-size: 24px;
    }

.current-stratagem img {
    grid-row: 1/3;
    justify-self: end;
    border: yellow 2px solid;

}

.sequence {
    display: flex;
    gap: 10px; 
}

.sequence * {
    border: solid gray 1px;
    font-size: 36px;
    width: 30px;
    height: 30px;
}

.neutral {
    fill: white;
}
.correct {
    fill: yellow;
}

.d-box {
  display: grid;
  justify-content: center;
  grid: 80px 80px 80px / 80px 80px 80px;
}

.d-box input {
    border-radius:12px;
    background-color: white;
    border: none;
    width: 100%
}

.d-left {
  grid-column: 1/2;
  grid-row: 2/3;
    }
    
.d-right {
  grid-column: 3/4;
  grid-row: 2/3;
    }
    
    .d-up {
  grid-column: 2/3;
  grid-row: 1/2;
    }
    
    .d-down {
  grid-column: 2/3;
  grid-row: 3/4;
    }
.container-outer, .points-popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-header {
    background: rgba(0, 0, 0, 0.738);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content
}

.container-header h1{
    color: yellow;
    width: fit-content;
    flex: 0;
}

.decoration {
    max-height: 2.7rem;
    flex: 1;
}
.container-inner {
    display: flex;
    flex-direction: column;
    background: rgba(117, 110, 110, 0.622);
    text-align: center;
    width: min(90%, 400px);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.container-inner h2 {
    background: rgba(28, 27, 27, 0.793);
    margin: 0;
}

.container-inner h3 {
    color: white;
}

.try-again {
    color: rgba(28, 27, 27, 0.793);;
    font-size: 34px;
    font-family:'Courier New', Courier, monospace;
    background: yellow;
    border: solid rgba(28, 27, 27, 0.793) 4px;
}

.hidden {
    display: none;
}

@keyframes fadeout {
    from {
        filter: opacity(1)
    }
    to {
        filter: opacity(0)
    }

}

.points-popup {
    font-size: 17vw;
    animation-name: fadeout;
    animation-duration: 1.5s;
}

.points-popup h1 {
    transform: translateY(-200px);
}

.points-popup .low {
    color: rgba(255, 255, 0, 0.503);
}

.points-popup .medium {
    color: rgba(255, 149, 0, 0.503);
}

.points-popup .high {
    color: rgba(255, 0, 0, 0.503);
}